<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">


      <div class="card">
        <div class="card-header">
          <strong>
            Security Search
          </strong>
        </div>
        <div class="card-body" style=" overflow: hidden;">


          Total Investment <input type="text" [(ngModel)]="investProjectionStockFactory.totalYearlyInvestment">
          <br/>
          Year Range<br />
          <input type="text" [(ngModel)]="yearLow"> -  <input type="text" [(ngModel)]="yearHigh">
          <button class="btn btn-primary" (click)="refreshCalculations()">Refresh Calculations</button>
          <br />

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#securitySearchModal">
            Select a Stock
          </button>



          <br />


          <div *ngIf="investProjectionStockFactory.investProjectionStocks">

            <div *ngFor="let investProjectionStock of investProjectionStockFactory.investProjectionStocks">
              <br />

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Current Price
                    </th>
                    <th>
                      Last High Price
                    </th>
                    <th>
                      <button type="button" class="close btn-close-white" (click)="removeStock(investProjectionStock.securityRecord.id)">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </th>
</thead>
                <tr>

                  <td>
                    {{investProjectionStock.securityRecord.name}}
                  </td>
                  <td>
                    {{investProjectionStock.securityRecord.currentPrice}}
                  </td>
                  <td>
                    {{investProjectionStock.priorCost}}
                  </td>
                  <td>
                    </td>
                </tr>

              </table>


              <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="investProjectionStock.investProjections">
                <thead>
                  <tr>
                    <th width="300px">Projection Type</th>
                    <th width="150px"># Shares</th>
                    <th width="150px">Purchase Amount</th>
                    <th width="150px">Average Cost</th>

                    <th width="150px">Current Value</th>
                    <th width="150px">Dividend Profit</th>
                    <th width="150px">Share Level</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let investProjection of investProjectionStock.investProjections">
                    <td width="300px">{{ investProjection.projectionType }}</td>
                    <td width="150px">{{ investProjection.GetTotalShares()| number: '1.1-2'}}</td>
                    <!--numberOfShares-->
                    <td width="150px">
                      <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#securityProjectModal' + investProjectionStock.securityRecord.symbol + investProjection.projectionTypeId">
                        i
                      </button>
                      {{ investProjection.GetTotalPurchaseAmount() | number: '1.1-2'}}



                      <!--Modal Purcahase Amount Details-->
                      <div class="modal fade" [id]="'securityProjectModal' + investProjectionStock.securityRecord.symbol+ investProjection.projectionTypeId" tabindex="-1" role="dialog" aria-labelledby="securityProjectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="securityProjectModalLabel">{{ investProjection.projectionType }}<br /> {{ investProjectionStock.securityRecord.name}}<br /> Current Price {{investProjectionStock.securityRecord.currentPrice}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <table class="table">

                                <thead>
                                  <tr>
                                    <th width="150px">Year</th>
                                    <th width="150px">Shares</th>
                                    <th width="150px">Total Purchased</th>
                                    <th width="150px">Avg Cost</th>
                                    <th width="350px">Current Value</th>
                                  </tr>
                                </thead>
                                <tr *ngFor="let purchaseAmountYear of investProjection.purchaseAmountYear">
                                  <td width="150px">{{ purchaseAmountYear.year }}</td>
                                  <td width="150px">{{ purchaseAmountYear.shares | number: '1.1-2' }}</td>
                                  <td width="150px">{{ purchaseAmountYear.purchaseAmount | number: '1.1-2' }}</td>
                                  <td width="150px">{{ purchaseAmountYear.GetAverageCost() | number: '1.1-2' }}</td>
                                  <td width="350px">
                                    ${{ purchaseAmountYear.shares * investProjectionStock.securityRecord.currentPrice | number: '1.0-0' }}
                                    (
                                    {{ ((( investProjectionStock.securityRecord.currentPrice - purchaseAmountYear.GetAverageCost() ) / purchaseAmountYear.GetAverageCost()) * 100) | number:'1.0-0'}}%
                                    )


                                  </td>



                                </tr>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" #securityProjectModal class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>



                    </td>
                    <td width="150px">{{ investProjection.GetAverageCost() | number: '1.1-2'}}</td>


                    <td width="150px">
                      {{ investProjection.GetTotalShares() * investProjectionStock.securityRecord.currentPrice | number: '1.1-2' }}
                      (
                      {{ ((( investProjectionStock.securityRecord.currentPrice - investProjection.GetAverageCost() ) / investProjection.GetAverageCost()) * 100) | number:'1.1-2'}}
                      )
                    </td>
                    <td width="150px">{{ investProjection.GetTotalDividendProfit() | number:'1.1-2'}}</td>
                    <td width="150px">
                      {{ investProjection.currentPurchaseShares | number:'1.1-2'}}
                      (
                      {{ investProjection.maxNumberSharePurchase | number:'1.1-2'}}
                      )

                    </td>
                  </tr>
                </tbody>
              </table>


































            </div>
          </div>

          <!-- Select a Security Modal -->
          <div class="modal fade" id="securitySearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Select A Stock</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <security-search [actionItem]="currentActionItem"
                                   (securitySelectEvent)="setSecurityId($event)"></security-search>
                </div>
                <div class="modal-footer">
                  <button type="button" #myModalClose class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>






        </div>
      </div>
    </div>






  </div><!--/.row-->
</div>




