<div *ngIf="!stockPurchaseOptions">
  <shared-loading-data></shared-loading-data>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" (click)="processStockPurchaseOptions()">
  Refresh
</button>

<div *ngIf="stockPurchaseOptions" style="height:600px;overflow-y:auto">

  



  <div class="table-responsive" style="height:450px;width:1000px">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stockPurchaseOptions">
      <thead>
        <tr>
          <th class="cellshort" width="30px">#</th>
          <th class="celllong" width="300px">
            Name
            <i (click)="sortByName()" [ngClass]="!sortNameDesc ? 'cil-sort-descending' : 'cil-sort-ascending'"></i>
          </th>
          <th width="150px">Current Price</th>
          <th width="150px">
            Percent Change
            <i (click)="sortByPercentage()" [ngClass]="!sortPercentDesc ? 'cil-sort-descending' : 'cil-sort-ascending'"></i>
          </th>
          <th width="200px">
            % from Last High
            <i (click)="sortByCurPerFromHigh()" [ngClass]="!sortPercentCurPerFromHigh ? 'cil-sort-descending' : 'cil-sort-ascending'"></i>
          </th>
          <th width="250px">% Avg Year Monthly Purchase</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockPurchaseOption of stockPurchaseOptions;let i = index">
          <td class="cellshort" width="30px">{{i + 1 }}</td>
          <td class="celllong" width="300px">

            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#secDetails' + stockPurchaseOption.security.symbol + purOptionTabNum">
              i
            </button>
            <span title="{{stockPurchaseOption.security.symbol}}">{{stockPurchaseOption.security.name}}</span>

            <app-spo-sec-detail [purOptionTabNum]="purOptionTabNum" [stockPurchaseOption]="stockPurchaseOption"></app-spo-sec-detail>

          </td>
          <td width="150px">
            {{stockPurchaseOption.security.currentPrice | currency}}
          </td>
          <td width="150px">

            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#secPurStats' + stockPurchaseOption.security.symbol + purOptionTabNum">
              i
            </button>
            {{stockPurchaseOption.security.percentageChange}}
            <app-spo-sec-pur-stat [purOptionTabNum]="purOptionTabNum" [stockPurchaseOption]="stockPurchaseOption"></app-spo-sec-pur-stat>
          </td>
          <td width="200px">

            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#peakRangeDetails' + stockPurchaseOption.security.symbol + purOptionTabNum">
              i
            </button>
            <!-- Select a Security Modal -->
            {{(((stockPurchaseOption.security.currentPrice - stockPurchaseOption.currentPeakRange.lastOpenHigh ) / stockPurchaseOption.currentPeakRange.lastOpenHigh) * 100) | number : '1.1-1'}}
            <app-spo-peak-range [purOptionTabNum]="purOptionTabNum" [stockPurchaseOption]="stockPurchaseOption"></app-spo-peak-range>

          </td>
          <td width="250px">

            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#invProjection' + stockPurchaseOption.security.symbol + purOptionTabNum">
              i
            </button>
            {{
          ((((stockPurchaseOption.priorPurchaseEstimate.shares * stockPurchaseOption.security.currentPrice) - stockPurchaseOption.priorPurchaseEstimate.purchasePrice)
          / stockPurchaseOption.priorPurchaseEstimate.purchasePrice) * 100 ) / ( stockPurchaseOption.priorPurchaseEstimate.shares / 12)
          | number : '1.1-1'
            }}
            ({{stockPurchaseOption.priorPurchaseEstimate.shares}})

            <app-spo-invest-projection [purOptionTabNum]="purOptionTabNum" [stockPurchaseOption]="stockPurchaseOption"></app-spo-invest-projection>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>







<!--
  security: Security;
          id: number;
          name: string;
          symbol: string;
          lastModified: string;
          dayLow: number;
          dayHigh: number;
          currentPrice: number;
          preferred: boolean;
          priorDayOpen: number;
          percentageChange: number;
          yearLow: number;
          yearHigh: number;
          dividend: Date;
          dividendamount: number;
          earning: string;
 securityPercentageStatistic: SecurityPercentageStatistic;
          id: number;
          securityId: number;
          dateCreated: Date;
          dateModified: Date;
          averageDrop: number;
          percent5 : number;
          percent10 : number;
          percent15 : number;
          totalPercentSum : number;
          highLowRangeAverage : number;
          belowAverageCount : number;
 currentPeakRange: CurrentPeakRange;
          id: number;
          securityId: number;
          rangeName: string;
          dateCreated: Date;
          dateModified: Date;
          rangeLength: number;
          rangeDateStart: Date;
          peakRangeCurrentPercentage: number;
  priorPurchaseEstimate: PriorPurchaseEstimate;
          id: number;
          securityId: number;
          dateCreated: Date;
          dateModified: Date;
          shares: number;
          purchasePrice: number;
-->
