<header class="c-header px-3">
  

  

  <img src="../../assets/images/mgtekimage.png" style="width:168px;height:49px;" />
  <button class="navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/security']">Security</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/earning']">Earnings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/dividend']">Dividends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/auto-security-trade']">Auto Security Trade</a>
    
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/security-invest-projection']">Invest Projection</a>
      
    </li>



  </ul>
  <!-- Navbar content -->
</header>
  <!--<header class="sticky-top">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

  <header class="c-header c-header-light px-3" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <!--<div class="container">

  <div class="c-header c-header-light px-3" style="background-color: #e3f2fd;">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/images/mgtekimage.png" />

    </a>

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
      </li>
        -- >
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/security']">Security</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/preferredearning']">Preferred Earning</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">



        </li>
      </ul>
    </div>
  </div>
  <!--</div>

  </nav>




    </header>-->
