table tbody {
  height: 300px;
  overflow-y: auto
}

table tbody, table thead {
  display: block;
}

table td {
  text-align: center;
}

.class_name {
  background-color: dodgerblue;
  color: white;
}


.spanPeakRangeTableSpace {
  display: inline-block;
  width: 105px;
  font-weight: bold;
  text-decoration: underline;
}


.buyAverageDropStock {
  background-color: greenyellow;
  color: black;
}


.buyper15Stock {
  background-color: lightgreen;
  color: black;
}

.buyper10Stock {
  background-color: darkseagreen;
  color: black;
}

.buyper5Stock {
  background-color: forestgreen;
  color: black;
}
