<div class="animated fadeIn">

  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div *ngIf="security">
            <button type="button" [disabled]="btnUpdateSave" class="btn btn-primary" (click)="save()">
              <i class="cil-save"></i>
            </button>
            <strong>{{security.name | uppercase}} Details</strong>

            <button type="button" class="close" aria-label="Close" (click)="goBack()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="card-body" style=" overflow: hidden;">



          <ul ngbNav #nav="ngbNav" class="nav-tabs">

            <li ngbNavItem [destroyOnHide]="false">
              <a ngbNavLink>Details</a>
              <ng-template ngbNavContent>
                <app-details [security]="security" [priorPurEst]="priorPurEst"></app-details>
              </ng-template>
            </li>


            <li ngbNavItem [destroyOnHide]="false">
              <a ngbNavLink>Dividends</a>
              <ng-template ngbNavContent>
                <app-dividend-widget></app-dividend-widget>

              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Yearly Gain/Loss</a>
              <ng-template ngbNavContent>
                <!--<app-gain-loss [historicalPrices]="historicalPrices"></app-gain-loss>-->


              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>History</a>
              <ng-template ngbNavContent>

                <div class="card">
                  <div class="card-header">
                    <b>History</b>

                    <div style="padding-left:40px;" class="btn-group">
                      <button class="btn btn-secondary btn-sm" style="width:100px;" type="button">
                        {{historyPriceName}}
                      </button>


                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="changeHistory(1)">1 Day</a>
                        <a class="dropdown-item" (click)="changeHistory(2)">5 Days</a>
                        <a class="dropdown-item" (click)="changeHistory(3)">1 Month</a>
                        <a class="dropdown-item" (click)="changeHistory(4)">6 Months</a>
                        <a class="dropdown-item" (click)="changeHistory(5)">1 Year</a>
                        <a class="dropdown-item" (click)="changeHistory(6)">5 Years</a>
                      </div>
                    </div>

                  </div>
                  <div class="card-body" style="height:500px;">
                    <div *ngIf="!historicalPrices">
                      <shared-loading-data></shared-loading-data>
                    </div>
                    <div  *ngIf="historicalPrices.length ==0">
                      No History Found
                      </div>
                      <div style="padding-bottom:20px;align-content:center;" *ngIf="historicalPrices.length >0" class="chart-wrapper">
                        <div style="height:80%;width:80%;">
                          <canvas baseChart
                                  [datasets]="lineChartData"
                                  [labels]="lineChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColors"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  [plugins]="lineChartPlugins">
                          </canvas>
                        </div>
                      </div>


                    </div>
                  </div>




              </ng-template>
            </li>


            <li ngbNavItem>
              <a ngbNavLink>Peak Ranges</a>
              <ng-template ngbNavContent>

                <b>Current Range</b>: {{currentPeakRange.rangeName}}<br />
                <b>Current Range Days</b>: {{currentPeakRange.rangeLength | number : '1.0-0'}}<br />
                <b>Current Percent from Peak</b>:    {{currentPeakRange.peakRangeCurrentPercentage | number : '1.1-1'}}%
                <div style="overflow-x:auto">
                  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="peakRanges">
                    <thead>
                      <tr>
                        <th style="width:150px"><span class="spanPeakRangeTableSpace">Range</span></th>
                        <th style="width:150px"><span class="spanPeakRangeTableSpace"># of Instances</span></th>
                        <th style="width:150px"><span class="spanPeakRangeTableSpace">Average Range</span></th>
                        <th style="width:150px"><span class="spanPeakRangeTableSpace">Max Range</span></th>
                        <th style="width:150px"><span class="spanPeakRangeTableSpace">Max Start Date</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pRange of peakRanges">
                        <td style="width:150px" [ngClass]="{'class_name': pRange?.rangeName == currentPeakRange.rangeName  }">
                          {{ pRange?.rangeName }}
                        </td>
                        <td style="width:150px">{{ pRange?.rangeCount | number : '1.1-1'}}</td>
                        <td style="width:150px">{{ pRange?.rangeLength / pRange?.rangeCount | number : '1.1-1'}}</td>
                        <td style="width:150px">{{ pRange?.maxRangeLength | number : '1.1-1'}}</td>
                        <td style="width:150px">{{ pRange?.maxRangeDateStart | date: 'MM/dd/yyyy'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem [destroyOnHide]="false">
              <a ngbNavLink>Earning</a>
              <ng-template ngbNavContent>
                <app-earning-widget></app-earning-widget>
              </ng-template>
            </li>

            <li ngbNavItem [destroyOnHide]="false">
              <a ngbNavLink>Statistics</a>
              <ng-template ngbNavContent>
                <div style="overflow-x:auto">
                  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="securityPercentageStatistic">
                    <tbody>
                      <tr>
                        <td style="width:85px;" align="center" [ngClass]="{'buyper5Stock': securityPercentageStatistic?.percent5 > security.percentageChange && !securityPercentageStatistic?.percent5 == 0 }">
                          <span style="display: inline-block;width:155px">
                            <b><u>5 Percent</u></b>
                          </span>
                          <br />
                          <span *ngIf="securityPercentageStatistic?.percent5==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.percent5!=0">{{ securityPercentageStatistic?.percent5  | number : '1.1-2'}}</span>
                          
                        </td>

                        <td style="width:85px;" align="center" [ngClass]="{'buyper10Stock': securityPercentageStatistic?.percent10 > security.percentageChange && !securityPercentageStatistic?.percent10 == 0  }">
                          <span style="display: inline-block;width:155px">
                            <b><u>10 Percent</u></b>
                          </span>
                          <br />
                          <span *ngIf="securityPercentageStatistic?.percent10==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.percent10!=0">{{ securityPercentageStatistic?.percent10  | number : '1.1-2'}}</span>
                          
                        </td>
                        <td style="width:85px;" align="center" [ngClass]="{'buyper15Stock': securityPercentageStatistic?.percent15 > security.percentageChange  && !securityPercentageStatistic?.percent15 == 0 }">
                          <span style="display: inline-block;width:155px">
                            <b><u>15 Percent</u></b>
                          </span>
                          <br />
                          <span *ngIf="securityPercentageStatistic?.percent15==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.percent15!=0">{{ securityPercentageStatistic?.percent15  | number : '1.1-2'}}</span>
                        </td>
                        </tr>
                      <tr>
                        <td style="width:85px;" align="center" [ngClass]="{'buyAverageDropStock': securityPercentageStatistic?.averageDrop * 1.5 > security.percentageChange && !securityPercentageStatistic?.averageDrop == 0  }">
                          <span style="display: inline-block;width:155px">
                            <b><u>Average Drop</u></b>
                          </span>
                          <br />
                          <span *ngIf="securityPercentageStatistic?.averageDrop==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.averageDrop!=0">{{ securityPercentageStatistic?.averageDrop  | number : '1.1-2'}}</span>
                        </td>

                        <td style="width:85px;" align="center">
                          <span style="display: inline-block;width:155px">
                            <b><u>Total Percent Sum</u></b>
                          </span>
                          <br />
                          <span *ngIf="securityPercentageStatistic?.totalPercentSum==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.totalPercentSum!=0">{{ securityPercentageStatistic?.totalPercentSum  | number : '1.1-2'}}</span>
                        </td>
                        <td style="width:85px;" align="center">
                          <span style="display: inline-block;width:155px">
                            <b><u>High Low Range Avg</u></b>
                          </span>
                          <br />
                          <span *ngIf="securityPercentageStatistic?.highLowRangeAverage==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.highLowRangeAverage!=0">{{ securityPercentageStatistic?.highLowRangeAverage  | number : '1.1-2'}}</span>

                        </td>
                        </tr>
                      <tr>
                        <td style="width:85px;" align="center">
                          <span style="display: inline-block;width:155px">
                            <b><u>Below Average Count</u></b>
                          </span>
                          <br />

                          <span *ngIf="securityPercentageStatistic?.belowAverageCount==0">No Data</span>
                          <span *ngIf="securityPercentageStatistic?.belowAverageCount!=0">{{ securityPercentageStatistic?.belowAverageCount  | number : '1.0-0'}}</span>
                        </td>
                        <td style="width:85px;" align="center">
                          <span style="display: inline-block;width:155px">
                            <b><u>Day's Current Return</u></b>
                          </span>
                          <br /> {{ security.percentageChange  | number : '1.1-2'}}
                        </td>
                        <td style="width:85px;" align="center">
                          <span style="display: inline-block;width:155px">
                            <b><u>Date Calculated</u></b>
                          </span>
                          <br /> {{ securityPercentageStatistic?.dateModified | date: 'MM/dd/yyyy'}}
                        </td>
                      </tr>
                    </tbody>

                  </table>
                    </div>
                    
              </ng-template>
            </li>
            












          </ul>
          <div [ngbNavOutlet]="nav"></div>


        </div>
      </div>
    </div>
  </div>

</div>







