<div class="modal fade" id="peakRangeDetails{{stockPurchaseOption.security.symbol}}{{purOptionTabNum}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Peak Range Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <table class="table">
          <tr>
            <td>
              Range Name:
            </td>
            <td>
              {{stockPurchaseOption.currentPeakRange.rangeName}}
            </td>
          </tr>
          <tr>
            <td>
              Last High Date:
            </td>
            <td>
              {{stockPurchaseOption.currentPeakRange.rangeDateStart | date: 'MM/dd/yyyy'}}
            </td>
          </tr>
          <tr>
            <td>
              Percentage from High:
            </td>
            <td>
              {{
(((stockPurchaseOption.security.currentPrice - stockPurchaseOption.currentPeakRange.lastOpenHigh ) / stockPurchaseOption.currentPeakRange.lastOpenHigh) * 100) | number : '1.1-1'
              }}

            </td>
          </tr>
          <tr>

            <td>
              Last Open High:
            </td>
            <td>
              {{stockPurchaseOption.currentPeakRange.lastOpenHigh | currency}}
            </td>
          </tr>
          <tr>

            <td>
              Current Price:
            </td>
            <td>
              {{stockPurchaseOption.security.currentPrice | currency}}
            </td>
          </tr>
          <tr>

            <td>
              Date Calculated:
            </td>
            <td>
              {{stockPurchaseOption.currentPeakRange.dateModified}}
            </td>
          </tr>
        </table>

        Prior Peak Ranges
        <div class="table-responsive">
          <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stockPurchaseOption.peakRangeDetail">
            <thead>
              <tr>
                <th style="width:150px">Range</th>
                <th style="width:100px"># of Instances</th>
                <th style="width:100px">Average Range</th>
                <th style="width:100px">Max Range</th>
                <th style="width:100px">Max Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pRange of stockPurchaseOption.peakRangeDetail">
                <td style="width:150px" [ngClass]="{'class_name': pRange?.rangeName == stockPurchaseOption.currentPeakRange.rangeName  }">
                  {{ pRange?.rangeName }}
                </td>
                <td style="width:100px">{{ pRange?.rangeCount | number : '1.1-1'}}</td>
                <td style="width:100px">{{ pRange?.rangeLength / pRange?.rangeCount | number : '1.1-1'}}</td>
                <td style="width:100px">{{ pRange?.maxRangeLength | number : '1.1-1'}}</td>
                <td style="width:100px">{{ pRange?.maxRangeDateStart | date: 'MM/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" #myModalClose class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
